* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.container {
  width: 250px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ul-container {
  width: 400px;
}
ul {
  list-style-type: none;
  padding: 10px;
}

li {
  border-bottom: solid 1px grey;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

ul, button {
  font-size: 1.2rem;
}
button {
  background-color: transparent;
  border: solid 1px transparent;
  cursor: pointer;
}